* {
	font-family: Georgia, serif;
}

li > a {
	color: white;
}

li a:hover, .page-footer > h3 > a {
    text-decoration: none;
    color: #36F064;
}

.nav {
	position: fixed;
    background-color: #5f2da4;
    width: 100%;
    z-index: 2;
}

#nav-topright {
	margin: 10px 20px 0px 0px;
	float: right;
}

#nav-bottomright {
	float: right;
	margin: -60px 0px 0px 0px;
	position: relative;
}

#navbar-brand {
	margin-left: 20px;
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.aside {
	background-color: #5f2da4;
	width: 200px;
	height: 100%;
    float: left;
    position: fixed;
    margin-top: 75px;
    padding-top: 1%;
}

.aside .menu {
	float: left;
}

.aside .menu li {
	margin: 10px 0px 5px 0px;
}

.aside .menu .dropdown {
	margin: 10px 0px 5px 0px;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

.dropdown:hover .dropdown-menu li a:hover {
	background-color: #36F064;
}

.dropdown li:hover {
	background-color: #36F064;
}

.section {
	margin-top: 100px;
	margin-left: 225px;
	padding-bottom: 100px;
	float: left;
	width: 79%;
}

.section h6 {
	font-size: 15px;
}

.section #moderate-comments {
	margin-bottom: 20px;
}

.section #page-header h1 {
	margin-left: 50px;
}

.section #page-body ul {
	margin-right: 40px;
}

.section .page-header {
	margin-top: 15px;
	padding-bottom: 15px;
}

.section div form {
	margin-left: 50px;
}

.section #pagination .pagination {
	position: relative;
    float: right;
}

.section #pagination .pagination li > a {
	color: #36F064;
}

.section #pagination .pagination li a:hover {
	background-color: #5f2da4;
}

.section #pagination .pagination li a:active {
	background-color: #5f2da4;
}

.section .section {
	float: left;
}

.section form {
	margin-left: 50px;
}

.section .alert {
	margin-left: 40px;
	width: 95%;
}

#page-body > h4 {
	margin-left: 30px;
}

#page-body > h6 {
	margin-left: 30px;
}

#page-body form {
	margin-left: 30px;
}

#page-body #comment-body h4 {
	margin-left: 30px;
}

#page-body #comment-body a {
	margin-left: 30px;
}

#page-body form .checkbox {
	padding-left: 0px;
}

#page-body > form > .lead > .control-group > .input_title {
	width: 100%;
}

div ul li {
	font-size: 20px;
	list-style-type: none;
}

div > h2 {
	font-size: 40px;
	margin-left: 30px;
}

div > h3 > a {
	font-size: 30px;
}

h12 {
    color: white;
}

ul > h10 {
	font-size: 16px;
}

#desc {
	margin-left: 20px;
}

#showuser {
	float: right;
	font-size: 16px;
}

.posts .post-footer a {
	text-decoration: none;
}

#newpost {
	margin-top: 40px;
	margin-left: 40px;
}

#newpost h3 a {
	-moz-box-shadow: 0px 10px 14px -7px #7a00c1;
	-webkit-box-shadow: 0px 10px 14px -7px #7a00c1;
	box-shadow: 0px 10px 14px -7px #7a00c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8200ce), color-stop(1, #5f2da4));
	background:-moz-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-webkit-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-o-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:-ms-linear-gradient(top, #8200ce 5%, #5f2da4 100%);
	background:linear-gradient(to bottom, #8200ce 5%, #5f2da4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8200ce', endColorstr='#5f2da4',GradientType=0);
	background-color:#8200ce;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#newpost h3 a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f2da4), color-stop(1, #8200ce));
	background:-moz-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-webkit-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-o-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:-ms-linear-gradient(top, #5f2da4 5%, #8200ce 100%);
	background:linear-gradient(to bottom, #5f2da4 5%, #8200ce 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f2da4', endColorstr='#8200ce',GradientType=0);
	background-color:#5f2da4;
}

#newpost h3 a:active {
	position: relative;
	top: 1px;
}

#pagination {
	position: relative;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active>a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active>span:focus {
	background-color: #5f2da4 !important;
	border-color: #007F3B !important;
}

#moderate-comments > a > span {
	margin-left: 40px;
}

#comment > h2 {
	margin-top: 30px;
	margin-left: 0px;
}

#comment > h3 {
	margin-left: 5px;
	margin-bottom: 10px;
}

#comment > form {
	margin-left: 10px;
	margin-bottom: 40px;
}

#comment .form .form-group .form-control {
	height: 50px;
}

#comment-body a {
	margin-bottom: 30px;
}

#comment-body {
	margin-top: 20px;
	margin-bottom: 100px;
}

#comment-body h4 .well{
	margin-bottom: -5px;
}

.well {
	margin-top: 10px;
}

#tweets {
	margin-top: 40px;
	margin-left: 40px;
	color: #5f2da4;
}

#tweets .well {
	margin-right: 40px;
}

.control-group img {
	margin-left: 30px;
}