{{ moment.include_moment() }}

{% if allCommentsCount > 0 %}

{% for comment in allComments %}

<div class="well">
<div id="comment-body">
    {% if comment.disabled %}
    <p><i>This comment has been disabled by a moderator.</i></p>
    {% endif %}

    {% if moderate or not comment.disabled %}
        <h4>
        {% if comment.body_html %}
            <img src="{{ url_for('static', filename=comment.author.avatar)}}" height="35" width="35">
            {{ comment.author.username }} -
            {{ moment(comment.timestamp).fromNow() }}
            <br>
            <div class="well">
            {{ comment.body_html | safe }}
            </div>
        {% else %}
            <div class="well">
            {{ comment.body }}
            </div>
        {% endif %}
        </h4>
        {% if current_user == comment.author or current_user.is_administrator() %}
        <a href="{{ url_for('.edit_comment', id=comment.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
        <a href="{{ url_for('.delete_comment', id=comment.id) }}">
            <span class="label label-danger">Delete</span>
        </a>
        {% endif %}
    {% endif %}

    {% if moderate %}
    {% if comment.disabled %}
    <a class="label label-primary" href="{{ url_for('.moderate_enable',
        id=comment.id, page=page) }}">Enable</a>
    {% else %}
    <a class="label label-danger" href="{{ url_for('.moderate_disable',
        id=comment.id, page=page) }}">Disable</a>
    {% endif %}
{% endif %}
</div>
</div>
{% endfor %}

{% else %}
<div class="well">
<h4>There are currently no comments for this post.</h4>
</div>
{% endif %}