{% if page_posts[0] %}
{% for post in page_posts %}
<div class="well">
    <h1>{{ post[1] }}</h1>
    <h10>{{ post[2] }}</h10>
    <br>
    <h13>Posted by {{ post[6] }}</h13>
    <div class="well">{{ post[3] | safe }}</div>
    <div class="post-footer">
        <a href="{{ url_for('.post', id=post[0]) }}">
            <span class="label label-default">Permalink</span>
        </a>
        <a href="{{ url_for('.post', id=post[0]) }}#comments">
            <span class="label label-primary">{{ post[4] }} Comments</span>
        </a>
        {% for tag in post[5] %}
        <a href="{{ url_for('.tag', tag=tag[1]) }}">
            <span class="label label-primary">{{ tag[1] }}</span>
        </a>
        {% endfor %}
        {% if current_user == post[6] %}
            <a href="{{ url_for('.edit', id=post[0]) }}">
                <span class="label label-primary">Edit</span>
            </a>
            <a href="{{ url_for('.delete', id=post[0]) }}">
                <span class="label label-danger">Delete</span>
            </a>
        {% elif current_user.is_administrator() %}
            <a href="{{ url_for('.edit', id=post[0]) }}">
                <span class="label label-primary">Edit [Admin]</span>
            </a>
            <a href="{{ url_for('.delete', id=post[0]) }}">
                <span class="label label-danger">Delete</span>
            </a>
        {% endif %}
    <br>
    </div>
</div>
{% endfor %}
{% else %}
    <h4>There are no matching results.</h4>
{% endif %}
