<ul class="posts">
{% for post in posts %}
    <h5>
    <h1>{{ post.title }}</h1>
    <h10>{{ post.time.strftime("%B %d, %Y %l:%M%p %Z") }}</h10>
    <h5>
    {% if post.text_html %}
        {{ post.text_html | safe }}
    {% else %}
        {{ post.text }}
    {% endif %}
    </h5>
    <div class="post-footer">
        <a href="{{ url_for('.post', id=post.id) }}">
            <span class="label label-default">Permalink</span>
        </a>
        {% if current_user == post.author %}
            <a href="{{ url_for('.edit', id=post.id) }}">
                <span class="label label-primary">Edit</span>
            </a>
        {% endif %}
    </div>
{% endfor %}
</ul>
