{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - Agency Policies{% endblock %}

{% block body %}
<div class="well">
    <h2>Agency Policies</h2>
</div>

<div class="well">
	<h4><b>Policies</b>
	<br><br>
	- <a href="{{ url_for('static', filename='files/Employee_Leave_Request.pdf') }}">Employee Leave Request</a><br>
	- <a href="{{ url_for('static', filename='files/Onboarding_Policy_and_Procedure.pdf') }}">Onboarding Policy and Procedure</a><br>
	</h4>
</div>
{% endblock %}