{% extends "bootstrap/base.html" %}

{% block title %}Intranet{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}" type="text/css">
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='nycgov.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='nycgov.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="nav" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand" href="{{ url_for('main.index') }}">Intranet</a>
            <div id="desc"><h12>NYC Records</h12></div>
        </div>
        <div id="nav-topright">
            <ul>
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
            <div id="showuser"><h12>{{ current_user.username }}</h12></div>
        </div>
</div>

<div class="aside">
    <ul class="menu">
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="http://cityshare.nycnet/portal/site/cityshare/?front_door=true">CityShare</a></li>
        <li><a href="https://prod.citytime.nycnet/">CityTime</a></li>
        <li><a href="http://timeclock.records.nycnet/timeclock/">TimeClock</a></li>
        <li><a href="https://hrb.nycaps.nycnet/">NYCAPS</a></li>
        <li><a href="{{ url_for('main.mis') }}">MIS</a></li>
        <li><a href="{{ url_for('main.lmt') }}">LMT</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Tumblr</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="section">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
