{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - EEO{% endblock %}

{% block body %}
<div class="well">
    <h2>Equal Employment Opportunity</h2>
</div>

<div class="well">
	<h4><b>EEO Information Files</b>
	<br><br>
	- <a href="{{ url_for('static', filename='files/NYC_EEO_Policy.pdf') }}">NYC EEO Policy</a><br>
	- <a href="{{ url_for('static', filename='files/Addendum_to_the_EEO_Policy.pdf') }}">NYC EEO Policy Addendum</a><br>
	- <a href="{{ url_for('static', filename='files/eeo_reasonable_accommodation.pdf') }}">EEO Reasonable Accommodation</a><br>
	- <a href="{{ url_for('static', filename='files/eeo_discrimination_complaint_procedures.pdf') }}">EEO Discrimination Complaint Procedures</a><br>
	- <a href="{{ url_for('static', filename='files/about_eeo_booklet.pdf') }}">About EEO Booklet</a><br>
	- <a href="{{ url_for('static', filename='files/55A_Booklet_final.pdf') }}">55A Booklet Final</a><br>
	- <a href="{{ url_for('static', filename='files/EO16Poster_FINAL.pdf') }}">Executive Order 16 Poster</a><br>
	</h4>
</div>
{% endblock %}