{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
<script type="text/javascript">
    function open_fun() {
        document.getElementById('link').innerHTML = "<a " +
            "class='btn btn-default' href='javascript:clo_fun()'>Remove " +
            "All</a>";
{#        var aa = document.querySelectorAll("input[type=checkbox]");#}
        var aa = document.getElementsByName("borough");
        for (var i = 0; i < aa.length; i++){
            aa[i].checked = true;
        }
    }
    function clo_fun() {
        document.getElementById('link').innerHTML = "<a " +
            "class='btn btn-default' href='javascript:open_fun()'>All " +
            "Boroughs</a>";
{#        var aa = document.querySelectorAll("input[type=checkbox]");#}
        var aa = document.getElementsByName("borough");
        for (var i = 0; i < aa.length; i++){
            aa[i].checked = false;
        }
    }

    function bride() {
        var bride = document.getElementById("bride");
        var marriage = document.getElementById("type-2");
        var marriageLicense = document.getElementById("type-3");
        bride.style.display = 'none';

        if (marriage.checked == true) {
            bride.style.display = 'block';
        }

    }
</script>
{% endblock %}

{% block title %}Intranet - ENFG{% endblock %}

{% block body %}
<div class="well">
    <h2>Easy Not Found Generator</h2>
</div>

<form class="form" role="form" method="post">
    {{ form.csrf_token }}
    {{ form.type.label }}<br />
    {{ form.type(class="form-control") }}
    {{ form.name.label }}<br />
    {{ form.name(class="form-control") }}
    <div id="bride" style="display: hidden;">
        {{ form.bride_name.label }}<br />
        {{ form.bride_name(class="form-control") }}
    </div>
    {{ form.year.label }}<br />
    {{ form.year(class="form-control") }}
    {{ form.borough.label }}<br />
    {{ form.borough(class="form-control") }}
    <div id='link'>
        <a class="btn btn-default" href='javascript:open_fun()'>All Boroughs</a>
    </div>
    <br />
    {{ form.signature.label }} {{ form.signature() }}<br /><br />
    {{ form.submit(class="btn btn-default btn-lg") }}
</form>
{% endblock %}

