{% extends "base.html" %}

{% block title %}Intranet{% endblock %}

{% import "_macros.html" as macros %}

<div class="section">
{% block page_content %}
<div class="page-header">
    <h2>Submissions</h2>
    <div id="nav-bottomright">
<!--     <form id="index-form" role="form" method="get" action="results">
        <input type="text" id="input_text" class="form-control" name="user_input" style="text-align: right">
        <button type="submit" class="btn btn-nyc" id="btn" name="btn" value="Search">Search</button> -->
            <select>
                {% for tag in allTags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </div>
</div>
<div id="page-body">
    {% include '_posts.html' %}
</div>
<div id="newpost">
    {% if current_user.is_administrator() or current_user.is_director() %}
    <h3><a href="{{ url_for('main.newpost') }}">Add Post</a></h3>
    {% endif %}
</div>
<div id="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
</div>
{% endblock %}
</div>