{% extends "base.html" %}

{% block title %}Intranet{% endblock %}

{% import "_macros.html" as macros %}

<div class="section">
{% block page_content %}
<div class="page-header">
    <h2>Submissions</h2>
    <div id="nav-bottomright">
        <form name="input" class="form-horizontal" id="searchTags" method="post">
		  <select name="select_tags" class="ui fluid search dropdown" multiple="" >
			<option value="">Filter</option>
			{% for tag in allTags %}
			<option value="{{ tag.name }}">{{ tag.name }}</option>
			{% endfor %}
		  </select>
            <div id="requestButton" class="control-group">
                <div>
                    <button type="submit" title="search_tags" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
	</div>
</div>
<div id="page-body">
    {% include '_posts.html' %}
</div>
<div id="newpost">
    {% if current_user.is_administrator() or current_user.is_director() %}
    <h3><a href="{{ url_for('main.newpost') }}">Add Post</a></h3>
    {% endif %}
</div>
<div id="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
</div>
{% endblock %}
</div>

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script type="text/javascript">
$('.ui.dropdown')
  .dropdown()
;
</script>
{% endblock %}