{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Post{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>New Post</h2>
</div>
<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Tags
            <div class="control-group">
                <input type="text" name="input_tag" id="tags" value="" tabindex="-1" style="display: block;">
            </div>
        </div>
        <div class="lead">Title
            <div class="control-group">
                <input class="input-block-level" name="input_title" name="Title" required>
            </div>
        </div>
        <div class="lead">Text
            <div class="control-group">
                <textarea id="editor1" name="editor1" required></textarea>
            </div>
        </div>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selectize.js') }}"></script>
<script type="text/javascript">
var data = {{ tags | safe }};
var items = data.map(function(x) { return { item: x }; });

$(document).ready(function() {
$('#tags').selectize({
    delimiter: ', ',
    persist: false,
    options: items,
    labelField: "item",
    valueField: "item",
    sortField: 'item',
    searchField: 'item',
    create: function(input) {
        return {
            value: input,
            text: input
        }
    },
    create: true
});
});
</script>
<script type="text/javascript" src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
