{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Intranet - New Post{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
{% endblock %}

{% block body %}
<div class="well">
    <h2>New Post</h2>
</div>
<div id="page-body">
    <form name="input" class="form-horizontal" id="submitPost" method="post">
        <div class="lead">Tags
            <div class="control-group">
                <input type="text" name="input_tag" id="tag_list" value="" tabindex="-1" style="display: block;">
            </div>
        </div>
        <div class="lead">Title
            <div class="control-group">
                <input class="input_title" name="input_title" name="Title" maxlength="64" required>
            </div>
        </div>
        <div class="lead">Text
            <div class="control-group">
                <textarea id="editor1" name="editor1" required></textarea>
            </div>
        </div>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="submit_post" class="btn btn-primary">Submit</button>
                <input action="action" type="button" value="Cancel" onclick="history.go(-1);" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/selectize.js') }}"></script>
<script type="text/javascript">
var data = {{ tag_list | safe }};
var items = data.map(function(x) { return { item: x }; });

$(document).ready(function() {
$('#tag_list').selectize({
    delimiter: ', ',
    persist: false,
    options: items,
    labelField: "item",
    valueField: "item",
    sortField: 'item',
    searchField: 'item',
    create: function(input) {
        return {
            value: input,
            text: input
        }
    },
    create: true
});
});
</script>
<script type="text/javascript" src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>
<script type="text/javascript">
    CKEDITOR.replace( 'editor1' );
</script>
{% endblock %}
