{% extends 'layouts/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - Post{% endblock %}

{% block body %}
<div id="moderate-comments">
	{% if current_user.can(Permission.ADMINISTER) or current_user == post.author %}
	<a href="{{ url_for('main.moderate', id=post.id) }}">
		<span class="label label-danger">Moderate Comments</span>
	</a>
	{% endif %}
</div>

{% include '_posts.html' %}
<br>
<div id="comment">
    <h2>Comments<h2>
    {% if current_user.can(Permission.COMMENT) %}
    <h3>Enter your comment</h3>
		{{ wtf.quick_form(form) }}
	{% endif %}
</div>
{% include '_comments.html' %}
{% endblock %}