{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Intranet - Profile{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>User Profile</h2>
</div>
<div id="page-body">
    <div class="control-group">
        <img src="{{ avatar }}">
    </div>
    <h4>Username: </h4>
        <div class="control-group">
            <form name="input" class="form-horizontal" id="changeUsername" method="post">
                <input value="{{ current_user.username }}" class="edit_username" name="edit_username" title="edit_username" required>
                <div id="requestButton" class="control-group">
                    <div>
                        <button type="submit" title="submit_edit_username" class="ui button">Edit</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <h4>
        Role: {{ role }}<br>
    	Email: {{ email }}<br>
    	{% if role == 'Administrator' or role == 'Director' %}
    	Number of Posts: {{ posts }}<br>
    	{% endif %}
    	Number of Comments: {{ comments }}
        </h4>
    {% if role == 'Administrator' or role == 'Director' %}
    <h4>Employee Role Change to Director</h4>
    <div class="control-group">
    	<form name="input" class="form-horizontal" id="changeRole" method="post">
	    	<select name="select_employee" class="ui dropdown">
		    	<option value="">Employees</option>
				{% for employee in employees %}
		    	<option value="{{ employee }}">{{ employee }}</option>
		    	{% endfor %}
	    	</select>
    	<div id="requestButton" class="control-group">
        	<div>
            	<button type="submit" title="submit_employee_role" class="ui button">Submit</button>
        	</div>
    	</div>
    	</form>
    </div>
    {% endif %}
	{% if role == 'Administrator' %}
    <h4>Director Role Change to Administrator</h4>
    <div class="control-group">
    	<form name="input" class="form-horizontal" id="changeRole" method="post">
	    	<select name="select_director" class="ui dropdown">
		    	<option value="">Directors</option>
				{% for director in directors %}
		    	<option value="{{ director }}">{{ director }}</option>
		    	{% endfor %}
	    	</select>
    	<div id="requestButton" class="control-group">
        	<div>
            	<button type="submit" title="submit_director_role" class="ui button">Submit</button>
        	</div>
    	</div>
    	</form>
    </div>
    <h4>Delete Account</h4>
    <div class="control-group">
        <form name="input" class="form-horizontal" id="deleteAccount" method="post">
            <select name="select_account" class="ui dropdown">
                <option value="">Accounts</option>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        <div id="requestButton" class="control-group">
            <div>
                <button type="submit" title="delete_account" class="ui button">Delete</button>
            </div>
        </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script type="text/javascript">
$('.ui.dropdown')
  .dropdown()
;
</script>
{% endblock %}